<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Patient</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<header>
    <div th:replace="~{fragments/header :: header}"></div>
</header>
<h1>Edit Patient</h1>
<form th:action="@{/patients/update/{id}(id=${patient.getId()})}" method="post" th:object="${patient}">
    <div class="form-group">
        <label for="edit-fullName">Full Name</label>
        <input type="text" id="edit-fullName" name="fullName" class="form-control" th:value="${patient.getFullName()}"/>
    </div>
    <div class="form-group">
        <label for="edit-dateOfBirth">Date of Birth</label>
        <input type="date" id="edit-dateOfBirth" name="dateOfBirth" class="form-control" th:value="${patient.getDateOfBirth()}"/>
    </div>
    <div class="form-group">
        <label for="edit-gender">Gender</label>
        <input type="text" id="edit-gender" name="gender" class="form-control" th:value="${patient.getGender()}"/>
    </div>
    <div class="form-group">
        <label for="edit-address">Address</label>
        <input type="text" id="edit-address" name="address" class="form-control" th:value="${patient.getAddress()}"/>
    </div>
    <div class="form-group">
        <label for="edit-phoneNumber">Phone Number</label>
        <input type="text" id="edit-phoneNumber" name="phoneNumber" class="form-control" th:value="${patient.getPhoneNumber()}"/>
    </div>
    <div class="form-group">
        <label for="edit-email">Email</label>
        <input type="text" id="edit-email" name="email" class="form-control" th:value="${patient.getEmail()}"/>
    </div>
    <button type="submit" class="btn btn-success">Update</button>
    <button class="btn btn-success">Cancel</button>
</form>
</body>
</html>